.postSection {
  border: 1px solid;
  width: 68%;
  margin-top: 30px;
  height: 96%;
}

.post {
  width: 100%;
}

.postInfo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
}
.moreInfo {
  margin-left: auto;
  cursor: pointer;
}
.postInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2px;
  background: linear-gradient(45deg, #ff0050, #ff8501, #ffc107, #833ab4);
}

.username {
  font-weight: 600;
  font-size: 12px;
}

.timingInfo {
  color: #999999;
  font-size: 15px;
}

.image {
  height: 500px;
  width: 429px;
  object-fit: cover;
}
